<div class="container">
  <!-- Profile Section -->
  <div class="profile-section">
    <img src="assets/icons/profile-user.svg" alt="Profile Picture" />
    <h1>{{username}}</h1>
  </div>

  <!-- Account Details Section -->
  <div class="details-section">
    <!-- Personal Information -->
    <div class="details-card">
      <h3>Personal Information</h3>
      <p>Name: {{username}}</p>
      <p>Email: {{email}}</p>
      <p>Method Auth: {{methodAuth}}</p>
    </div>

    <!-- Account Settings -->
    <div class="details-card">
      <h3>Account Settings</h3>
      <p>Future Versions</p>
      <!-- <p>Subscription Plan: Gold</p>
      <p>Account Status: Active</p>
      <p>Password: *********</p> -->
    </div>

    <!-- Transaction History -->
    <div class="details-card">
      <div class="top-container">
        <div class="left-side"><h3>Transaction History</h3></div>
        <div class="right-side"><a [routerLink]="['/user/transactions']">Open Full</a></div>
      </div>
        <p *ngFor="let transaction of transactions.slice(0, 3)">
          Transaction: ${{ transaction.amount }} - {{ transaction.date | date: 'fullDate' }}
        </p>
    </div>

    <!-- <div class="details-card">
      <div class="top-container">
        <div class="left-side"><h3>My cards</h3></div>
        <div class="right-side"><a>Open Full</a></div>
      </div>
      <p>Card 4542</p>
      <p>Card 3414</p>
      <p>Card 3114</p>
    </div> -->
  </div>

  <!-- Action Buttons -->
  <div class="action-buttons">
    <a class="btn" [routerLink]="['/user/edit-profile']">Edit Profile</a>
    <a class="btn" (click)="clickLogout()">Logout</a>
  </div>
</div>
