.header {
  position: relative;
  background-color: rgba(73, 169, 129, 1);
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.logo-container img {
  width: 20vw;
  max-width: 100px;
  min-width: 100px;
  height: auto;
}
.notification-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}
.notification-button .icon {
  width: 40px;
  height: 40px;
}
.wallet-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  a {
    font-size: 12px;
    text-decoration: inherit;
    color: white;

    &:hover {
      color: red;
    }
  }

  button {
    padding: 4px;
    
    &:hover {
      background-color: aliceblue;
    }
  }
}
.wallet-button {
  background-color: transparent;
  border: none;
  color: #fffdfd;
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  cursor: pointer;
  padding-right: 10px;
  transition: color 0.3s ease;
}
.wallet-container:hover .arrow-icon {
  transform: translateX(3px);
}
.wallet-container:hover .wallet-button {
  color: rgb(185, 254, 219);
}
.wallet-button {
  font-size: 14px;
}
.arrow-icon {
  width: 18px;
  height: 18px;
  margin-left: 2px;
  transition: transform 0.3s ease;
}
.profile-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .header {
    height: 100px;
    padding: 10px 10px;
  }
  .logo-container img {
    width: 35vw;
    max-width: 200 px;
  }
}
