.modal-overlay {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal-content {
  background: white;
  padding: 20px;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: gray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
