<div class="card-section">
  <div class="card-info">
    <div class="card-details-header">
      <h2 class="card-title-header">Card Details</h2>
    </div>
    <div class="card-number-container">
      <p class="card-number">
        Card Number: <span id="card-number-value">5535 **** **** 3456</span>
        <span class="icon-eye" id="toggle-card-number">&#128065;</span>
      </p>
    </div>
    <div class="card-details-container">
      <div class="card-labels">
        <p>Card Type:</p>
        <p>Expires:</p>
        <p>CVV:</p>
        <p>Available Balance:</p>
        <p>Beneficiary:</p>
        <p>Account Nr:</p>
        <p>Account Currency:</p>
      </div>
      <div class="card-values">
        <p>Mastercard</p>
        <p>10/23</p>
        <p id="cvv">
          *** <span class="icon-eye" id="toggle-cvv">&#128065;</span>
        </p>
        <p>$2546.50</p>
        <p>LENNY KAISER</p>
        <p>1</p>
        <p>USD</p>
      </div>
    </div>
  </div>

  <!-- Delete Card Button -->
  <button class="delete-button">Delete Card</button>
  <div id="message" class="message" style="display: none"></div>
</div>
